.header {
  background-color: rgb(54, 56, 56);
}

.btn-park span {
  border: 2px solid white;
  padding: 2px;
  color: rgb(99, 99, 131);
}
.outer-chat {
  border: 5px solid coral;
  border-radius: 23px;
  background-image: linear-gradient(yellow, red, blue);
}
.chat-box {
  width: max-content;
  word-wrap: break-word;

  height: 540px;
  overflow: auto;
}

.chat-box input {
  border-right: transparent;
  margin-left: 39%;
}

.btsn {
  border-left: transparent;
  background-color: white;
}
.chat-content {
  padding-left: 0px;
}
.chat-content ul {
  list-style: none;
  margin-left: 0px;
}

.chat-content span {
  float: right;
}
